body {
  padding: 0;
  text-align: center;
  background-image: url("../images/start-back.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}




#start-screen {
  padding: 20px 0px;
}
#start-screen h1 {
  color: #f013b9;
  font-size: 60px;
  font-family: "Verdana";
}
#start-screen p {
  font-size: 22px;
  font-family: "Verdana";
}




.princesses-img {
  width: 60%;
  padding-bottom: 50px;
}


body button {
  font-size: 30px;
  background-color: #f013b9;
  color: #fff;
  padding: 20px 40px;
  border: 100;
  box-shadow: 0;
  border-radius: 50px;
  margin-bottom: 20px;
}


#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}




#game-screen {
  display: none;
  align-content: center;
  padding: 0px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/castle.webp);
  background-size: cover;


}




@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}




#game-end {
  display: none;
}




